<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <style>
        body{
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
</head>
<body>
    <h1>signup</h1>
    <form action="/user" method="post">
        <label>Full name</label>
        <input type="text" name="name" placeholder="Enter your name">
        <label>Email</label>
        <input type="text" name="email" placeholder="Enter your Email">
        <label>Password</label>
        <input type="text" name="password" placeholder="Enter your Password">

        <button type="submit">Signup</button>
    </form>
</body>
</html>